@import url("https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Potta+One&family=Roboto+Condensed&display=swap");
$color-gray: #666;
$color-white: #e9e9e9;
$color-brown: rgb(8, 8, 8);
$text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
$box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
$tablet: 1024px;
$phone: 767px;

#menu {
    background-image: url(./photo/menu.png);
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: none;

    @media screen and (max-width: $tablet) {
        display: block;
        margin: 0 50px 0 auto;
    }
    @media screen and (max-width: $phone) {
        margin: 0 20px 0 auto;
        border-style: cover;
        width: 40px;
        height: 40px;
    }
}

#nav-box {
    height: 100vh;
    position: relative;
}
nav {
    display: grid;
    grid-template-columns: 15% auto 15%;
    text-align: center;
    background: $color-gray;
    padding: 30px;
    color: $color-white;
    position: fixed;
    z-index: 3;
    width: 100%;
    opacity: 0.8;

    @media screen and (max-width: $tablet) {
        grid-template-columns: 100% 0;
        margin: 0 10px 0 auto;
    }

    @media screen and (max-width: $phone) {
        padding: 20px 0;
    }
}
#link {
    @media screen and (max-width: $tablet) {
        display: none;
    }

    a {
        color: $color-white;
        padding: 0 30px;
        text-decoration: none;
        transition: 0.5s;
        display: inline-block;
        text-shadow: $text-shadow;

        &:hover {
            color: $color-brown;
            transform: scale(1.5);
        }
    }
}

#social {
    @media screen and (max-width: $tablet) {
        display: none;
    }
    a {
        transition: 0.5s;
        padding: 0 10px;

        &:hover {
            filter: invert(9%) sepia(100%) saturate(6428%) hue-rotate(1deg) brightness(96%) contrast(113%);
        }
        img {
            width: 20px;
        }
    }
}

.logo {
    font-size: 36px !important;
    transition: 0.5s;
    font-family: "Coda Caption", sans-serif;

    &:hover {
        font-size: 30px;
    }
}

#banner {
    .slick-prev {
        left: 50px;
        z-index: 2;
    }
    .slick-next {
        right: 50px;
        z-index: 2;
    }
    .slick-dots {
        bottom: 50px;
        z-index: 2;
    }
    @for $i from 1 through 3 {
        .banner#{$i} {
            background-image: url(./photo/banner#{$i}.jpg);
            height: 100vh;
            text-align: center;
            color: $color-white;

            @media screen and (max-width: $tablet) {
                background-size: cover;
            }
            h1 {
                padding: 300px 0 100px;
                font-size: 60px;
                text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

                @media screen and (max-width: $tablet) {
                    padding: 500px 0;
                }
                @media screen and (max-width: $tablet) {
                    font-size: 32px;
                    padding: 200px 0 50px 20px;
                }
            }
            h2 {
                font-size: 24px;
                text-shadow: $text-shadow;

                @media screen and (max-width: $tablet) {
                    font-size: 20px;
                    padding: 300px 0 50px 20px;
                }
            }
        }
    }
}
// 最新消息

#news {
    width: 1280px;
    margin: 0 auto;
    padding: 100px 0;

    @media screen and (max-width: $tablet) {
       width: 100%;
       padding: 50px 10px;
    }

 


    #news-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

        @media screen and (max-width: $phone) {
            grid-template-columns: 1fr;
            width: 100%;
        }

        img {
            width: 100%;
        }
        h3 {
            text-align: center;
            padding: 10px;
        }
        p {
            line-height: 1.5;
            font-size: 14px;
            padding-bottom: 10px;
        }
        .news-card {
            box-shadow: $box-shadow;
        }
    }
}
// 聯絡我
form {
    width: 1280px;
    margin: 0 auto;
    padding: 20px 0 100PX;

    @media screen and (max-width: $tablet) {
        width: 100%;
        padding: 20px 0 20px ;
    }
    input {
        width: 40%;
        padding: 10px 0px;
        @media screen and (max-width: $tablet) {
            width: 100%;
            margin-bottom: 20PX;
        }


        // 預設文字
        &::placeholder {
            color: $color-gray;
            font-size: 14px;
        }
    }
    textarea {
        width: 100%;
        height: 300px;
        margin: 30px 0;
        &::placeholder {
            color: $color-gray;
            font-size: 14px;
        }
    }
}
input[type="email"] {
    float: right;
}

// 按鈕樣式
.btn {
    background: $color-gray;
    color: white;
    padding: 10px 30px;
    display: block;
    margin: 0 auto;
    width: 50%;
    font-size: 20px;
    transition: 0.5s;
    border: none;

    &:hover {
        border: 1px solid $color-gray;
        background: $color-white;
        color: $color-brown;
    }
}

.title-big {
    text-align: center;
}

#works {
    overflow: hidden;
    width: 1280px;
    margin: 0 auto;
    @media screen and (max-width: $phone) {
        width: 100%;
    }
    @media screen and (max-width: $tablet) {
        width: 100%;
    }
    
}

div:focus {
    outline: none;
}

.word-card {

    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        transition: 0.5s;

        @media screen and (max-width: $tablet) {
            width: 180px;
            height: 180Px;
        }
            @media screen and (max-width: $phone) {
                width: 300px;
                height: 300Px;
        }
        &:hover {
            border-radius: 4px;
        }
        h2 {
            text-align: center;
            margin-top: 10px;
            color: $color-gray;
        }
    }
}

footer {
    background: $color-gray;
    text-align: center;
    padding: 30px;
    margin-top: 100px;
}
